
{% extends '::layout.html.twig' %}
{% block content %}
    <h1>prix unitaire après promo </h1>
    <ul>
        <li>produit : {{libelle}}</li>
        <li>prix unitaire : {{prixUnitaire}}</li>
    </ul>
    {% endblock %} 